@model IEnumerable<CustomerManagementSystem.Models.Customer>

@{
    ViewData["Title"] = "View customers";
}

@{
    String sort = ViewData["TypeAction"] == null ? "": ViewData["TypeAction"].ToString();
    String colunmName = ViewData["ColunmName"] == null ? "" : ViewData["ColunmName"].ToString();
}
<div style="margin-bottom:20px">
    <a button type="button" class="btn btn-primary" asp-action="Create">Create New Customer</a>
    <form class="float-right" method="post" asp-action="Index">
        <input name="searchValue"  />
        <select name="SearchColunmName">
            <option value="">Search by</option>
            <option value="Name">Name</option>
            <option value="Surname">Surname</option>
            <option value="Email">Email</option>
            <option value="PhoneNumber">Phone number</option>
        </select>
        <input type="submit" class="btn btn-primary" name="Search" value="Search">
    </form>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                <a asp-action="Index" type="button" class="btn btn-dark" asp-route-ColunmName="Name" asp-route-TypeAction="@sort">
                    @Html.DisplayNameFor(model => model.Name)
                    @{
                        if (sort == "desc" && colunmName == "Name")
                        {
                            <i class="fas fa-angle-up rotate-icon"></i>
                        }
                        else
                        {
                            <i class="fas fa-angle-down rotate-icon"></i>
                        }
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" type="button" class="btn btn-dark" asp-route-ColunmName="Surname" asp-route-TypeAction="@sort">
                    @Html.DisplayNameFor(model => model.Surname)
                    @{

                        if (sort == "desc" && colunmName == "Surname")
                        {
                            <i class="fas fa-angle-up rotate-icon"></i>
                        }
                        else
                        {
                            <i class="fas fa-angle-down rotate-icon"></i>
                        }

                    }
                </a>
            </th>
            <th>

                <a asp-action="Index" type="button" class="btn btn-dark" asp-route-ColunmName="Email" asp-route-TypeAction="@sort">
                    @Html.DisplayNameFor(model => model.Email)
                    @{
                        if (sort == "desc" && colunmName == "Email")
                        {

                            <i class="fas fa-angle-up rotate-icon"></i>
                        }
                        else
                        {
                            <i class="fas fa-angle-down rotate-icon"></i>
                        }
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" type="button" class="btn btn-dark" asp-route-ColunmName="PhoneNumber" asp-route-TypeAction="@sort">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                    @{
                        if (sort == "desc" && colunmName == "PhoneNumber")
                        {
                            <i class="fas fa-angle-up rotate-icon"></i>
                        }
                        else
                        {
                            <i class="fas fa-angle-down rotate-icon"></i>
                        }
                    }
                </a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
